h1,h4{
    text-align: center;
}
#welcome{
    color: #01013d;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "welcome welcome welcome welcome welcome"
    "main main main main main"
    "contact contact footer footer footer";
    grid-gap: 3px;
    /* background-color: #000000; */
    padding: 3px
}
.grid-container>div {
    text-align: center;
    padding: 20px 0;
}


.gridheader{
    grid-area: header;
    cursor: default;
}

.gridwelcome{
    grid-area: welcome;
    font-size: 2em;
    cursor: default;
}
.gridmain{
    grid-area: main;
}
.gridcontact{
    grid-area: contact;
    /* background-color: #DC2F02 ;    */
    /* background: radial-gradient(#DC2F02 20%, #E85D04 30%, #F48C06 20%, #FFBA08 30%); */

}
.gridfooter{
    grid-area: footer;
}

#angebot-1,#angebot-2{
    margin: 0 auto;
    display: inline-block;
    border-style: groove;
    border-width: 10px;
    width: min-content;
    text-align: center;
    /* float: left; */
}
html{
    background-color: #6C757D;
    /* background: linear-gradient(to bottom, #03071E, #370617, #6A040F, #D00000)  */
    background-repeat: no-repeat;
}
/* nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  } */
.navbar{
    background-color: #6C757D;
    height: 50px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  nav{
      float: right;
  }
  li {
    display: inline;
    margin: 15px;
  }
  nav a {
    text-decoration: none;
    color: #353535;
  }
  nav a:hover {
    color: #00b2b2;
  }
  
  nav a:active {
    font-weight: bold;
  }

  .dridcontainercontact{
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer"
  }
  .gridcontainercontact>div {
    text-align: center;
    padding: 20px 0;
}